

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  padding-bottom: 15rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*my css form Login/Register*/

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 20px;
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(0, 255, 200);
  font-size: 1.2em;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  -webkit-box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
          box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: rgb(0, 255, 200);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: rgb(0, 255, 200);
}

.form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: rgb(0, 0, 0);
}

.button1:hover {
  background-image: linear-gradient(163deg, #140064 0%, #363342 100%);
  color:  rgb(13, 255, 150);
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: rgb(0, 0, 0);
}

.button2:hover {
  background-image: linear-gradient(163deg, #140064 0%, #363342 100%);
  color: rgb(13, 255, 150);
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: rgb(0, 0, 0);
}

.button3:hover {
  background-image: linear-gradient(163deg, #00d3c8fa 0%, #394148 100%);
  color: rgb(255, 255, 255);
}

.cardfill {
  width: 340px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.cardfill .card2fill {
  z-index: 1;
  color: white;
 
}

.cardfill::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 34, 255), rgb(229, 9, 214));
  height: 140%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cardfill::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  

/*posizione container al centro*/

.box-center{
  
      top: 200px;
      right: 0;
      left: 0;
      margin: auto;
}


.selectFrom{
  color: rgb(0, 255, 200);
}

#footer{
  position: absolute; 
  bottom: 0;
  width: 100%;
}

.sidebar{
  position: sticky;
  top:100px;
  height: 0px;
  z-index: 100;
  left: 1px;
  background-color: #282c34;
}



.box .icon{
  color:grey;
  transition: color 1s;
}

.box:hover .icon{
  color: white;
}


.slide2{
  width: 300px;
  animation-name: slide;
  animation-duration: 3s;
  animation-direction: alternate;
}

@keyframes slide {
  0% {width: 100px;}
  100%{width: 300px;}
}


.slide1{
  width: 30px;

  animation-name: slideInverse;
  animation-duration: 2s;
  animation-direction: normal;
  animation-timing-function: ease;
}

@keyframes slideInverse {
  0% {width: 300px;}
  100%{width: 30px;}
}

.animationvisibility{
  
  animation-name: visibility;
  animation-duration: 3s;
  
}

@keyframes visibility {
  0% { opacity: 0;}
  100% {opacity: 1;}
}


.animationvisibility2{
  opacity: 0;
  animation-name: visibility2;
  animation-duration: 3s;
 
}

@keyframes visibility2 {
  0% { opacity: 1;}
  100% {opacity: 0;}
}


.animationvisibility3{
  opacity: 1;
  animation-name: visibility3;
  animation-duration: 15s;
}

@keyframes visibility3 {
  0% { opacity: 0;}
  100% {opacity: 1;}
}

.mytext{
  background: -webkit-linear-gradient(#14ff33, #353535);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mytext2{
  background: rgb(3,18,21);
background: linear-gradient(155deg, rgba(3,18,21,0.9598214285714286) 0%, rgb(27, 30, 41) 43%, rgba(81, 81, 87, 0.999) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.MyColor-Green{
  font-size: 30px;
  color: #0aac56;
}


.div-effect{
  cursor: pointer;
}

.div-effect .effect-setting{
  transform: rotateZ(0);
  transition: transform 3s;
}

.div-effect:hover .effect-setting{
  transform: rotateZ(360deg);
}

.div-effect .MyFont-text{
  font-size: 20px;
  background: -webkit-linear-gradient(#fefffe, #353535);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 2s linear ,font-size 2s;
}

.div-effect:hover .MyFont-text{
  background: -webkit-linear-gradient(#020202, #fffdfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/*searchBar*/
.personalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
}

.input {
  width: 100%;
  max-width: auto;
  height: 100%;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  background-color: #53535f;
  caret-color: #f7f7f8;
  color: #fff;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right: 1px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.input:hover {
  border: 2px solid rgba(255, 255, 255, 0.16);
}

.input:focus {
  border: 2px solid #1d04ff;
  box-shadow: -2px -1px 44px -2px rgba(37,18,232,1);
  -webkit-box-shadow: -2px -1px 44px -2px rgba(37,18,232,1);
  -moz-box-shadow: -2px -1px 44px -2px rgba(37,18,232,1);
  background-color: #0e0e10;
}

.search__btn {
  border: none;
  cursor: pointer;
  background-color: rgba(42, 42, 45, 1);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 100%;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__btn:hover {
  background-color: rgba(54, 54, 56, 1);
}

.mySizeCard{
  width: auto;
}

.myImgSize{
  width: 100%;
  height: 298px;
}

.myTextCenter{
  margin: 0 auto;
}
.myHero{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.9990371148459384) 0%, rgba(113,116,127,1) 62%, rgba(3,18,21,0.9598214285714286) 100%);
}


.cards3 {
  perspective: 500px;
  display: flex;
  justify-content: center;
}

.card3 {
  width: 200px;
  height: 250px;
  background: #16161d;
  border: 2px solid #555555;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
  cursor: pointer;
 
}

.card3:hover {
  transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}

.card_title3 {
  color: #fff;
  position: absolute;
  
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  transition: transform .5s;
  font: 700 1.5rem monospace;
  text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.card3:hover .card_title3 {
  transform: translateZ(50px);
}

.card3Image{
  width: 100%;
  height: 100%;
  filter: blur(5px);
}

.title{
  font-size: 50px;
  margin: 0 auto;
}

.myImageSet{
  width: 100%;
  height: 100%;
}
.myCol{
  height: 100%;
}

.itemColor{
  background: rgb(3,18,21);
background: linear-gradient(155deg, rgba(3,18,21,0.9598214285714286) 0%, rgba(60,62,68,1) 43%, rgba(176,175,201,0.9990371148459384) 100%);
}

.listGroupDiv{
  cursor: pointer;
  position: relative;
  bottom: 0;
  transition:transform 1s;
}

.listGroupDiv:hover{

  animation-name: example;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes example {
  0% {bottom: 30px;}
  100%{bottom: 0px;}

}

.listGroupDiv:active{
  transform: rotateZ(15deg);
}

.myMediaPlayer{
  position: sticky;
  margin: auto;
  padding-right: 12px;
  padding-bottom: 15px;
  bottom: 0px;
  z-index: 1;
}

.iconClose{
  position: relative;
  top: 2px;
}

.trackListItem .item{
  cursor: pointer;
  background-color: rgb(3,18,21);
background: linear-gradient(180deg, rgba(3,18,21,0.9598214285714286) 0%, rgba(255,255,255,1) 98%, rgba(176,175,201,0.9990371148459384) 100%);
  color: rgb(225, 225, 225);

}

.trackListItem:hover .item{
  background-color: rgb(176,175,201);
  background: linear-gradient(180deg, rgba(176,175,201,0.9990371148459384) 0%, rgba(255,255,255,1) 4%, rgba(3,18,21,0.9598214285714286) 96%);
}


.iconClose{
  position: absolute;
  right: 0;
}

.rhap_background-color{
  background-color: #00ff75;
}



/* wheater card*/

.event{

  height: 70px;
 
}

.mainCard{
  z-index:2;
  position: relative;
  left: 75px;
  height: 70px;
  width: 80%;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(180,180,180,0.9346113445378151) 100%);
  color: whitesmoke;
}


.cardStatus{
  position: relative;
  top: -70px;
  color: whitesmoke;
  width: 70%;
  z-index: 1;
  height: 70px;
  background: rgb(162,162,162);
  background: linear-gradient(0deg, rgba(162,162,162,1) 0%, rgba(0,0,0,0.9346113445378151) 100%);
}



.event:hover >  .cardStatus{
  left: -145px;
  animation-name: status;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-timing-function: ease-in;

}

@keyframes status {
  0%{left:0px};
  100%{left: -145px};
}

.event:not(:hover) >  .cardStatus{
  left: 80px;
  animation-name: status2;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}


@keyframes status2 {
  0%{left:-145px};
  100%{left: 80px};
}


.cardHealth{
  position: absolute;
z-index:-1;
right: 220px;
color: rgb(167, 166, 166);
bottom: -1px;
writing-mode: vertical-lr;
height: 70px;
background: rgb(33,32,32);
background: linear-gradient(0deg, rgba(33,32,32,1) 0%, rgba(131,131,131,0.6909138655462185) 49%, rgba(0,0,0,0.9346113445378151) 100%);
}

.spanWehater{
  position: relative;
  bottom: -10px;
  margin: 0;
}

.list-group .list-group-item {
  border: none;
}

.imgSetting{
  width:100%;
  margin: 0 auto;
  
}
.imageProfile{
  border: #000 solid 0px ;
  width: 130px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.pencil{
  position: absolute;
  top:15px;
  right:125px;
  opacity: 0;
  transition: opacity 0.3s;
}

.imgSetting:hover .pencil{

opacity:1;

}



html::-webkit-scrollbar {
  width: 8px;
}


html::-webkit-scrollbar-thumb {
  color: #0119d2ee;
  
border:  10px solid;
border-radius: 10px;
  
}




@media screen and (max-width: 600px) {
  .AlbumPage{
    margin-bottom: 100px!important;
   
  }

  .settingPage{
    margin-bottom: 150px!important;
  }
  .pageLogin{
    margin-bottom: 150px!important;
  }
  
  .imgTrack{
    width: 100px!important;
  }

  .containerTrack{
    margin-bottom: 100px!important;
  }

  .CategoryAlbum{
    margin-bottom: 100px!important;
  }

  .event{
    display: none;
  }
  
  .myTextHerosection{
    overflow-y: scroll;
    padding: 20px;
    height: 150px;
  }
  
  .myTextHerosection::-webkit-scrollbar {
    width: 10px;
  }
  
  
  .myTextHerosection::-webkit-scrollbar-thumb {
    color: #13b760ee;
    border:  10px solid;
    border-radius: 10px;
  }
  
  
  
  .myTextHerosection::-webkit-scrollbar-track{
    background-color: grey;
    border:10px solid;
    border-radius: 10px;
  };
  

}


@media screen and (max-width:450px){
.myMediaPlayer{
  margin-bottom: 100px;
}

  .list-group-horizontal{
    flex-direction: column!important;
   
  }

  .list-group-item{
    width: 100%!important;
  }

  .intro-icon{
    font-size: 130px;
  }

  .trackListItem .item{
    cursor: pointer;
    background-color: rgb(3,18,21);
  background: linear-gradient(90deg, rgba(3,18,21,0.9598214285714286) 0%, rgba(255,255,255,1) 98%, rgba(176,175,201,0.9990371148459384) 100%);
    color: rgb(225, 225, 225);
  border-radius: 0;
  }
  
  .trackListItem:hover .item{
    background-color: rgb(176,175,201);
    background: linear-gradient(90deg, rgba(176,175,201,0.9990371148459384) 0%, rgba(255,255,255,1) 4%, rgba(3,18,21,0.9598214285714286) 96%);
  }


}